<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foundation | Welcome</title>
    <% include plantillas/header-styles.ejs %>
    <style type="text/css">
      .boton{

      }
    </style>
</head>

<body>
    <div class="off-canvas-wrapper">
        <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>
            <div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left">
                <div class="grid-x grid-margin-x" data-equalizer data-equalize-on="medium" id="test-eq">
                  <div class="cell medium-12">
                    <div class="callout" data-equalizer-watch>
                      <img src= "img/login.png">
                    </div>
                  </div>
                 
                </div>
                <% include plantillas/header-profe.ejs %>
            </div>
            <div class="off-canvas-content" data-off-canvas-content>
                
                <div class="callout primary">
                    <div class="row column">
                        <h1>Panel Docente</h1>
                        <p class="lead">Bienvenido <%= usuario %>.</p>
                    </div>
                </div>
                
                <div class="top-bar" id="example-menu">
                  <div class="top-bar-left">
                    <ul class="dropdown menu" data-dropdown-menu>
                      <li class="menu-text">Lista de Cursos</li>
                      
                    </ul>
                  </div>
                  <div class="top-bar-right">
                   <form  method="POST" action="http://localhost:8888/profesor/buscar_curso_post">
                        <ul class="menu">
                          <li><input type="search" name="buscar" placeholder="Search"></li>
                          <li><button type="button submit" class="button">Search</button></li>
                        </ul>
                    </form>
                  </div>
                </div>
                <table>
                  <thead>
                    <tr>
                      <th width="100">Cursos</th>
                      <th width="100">Grados</th>
                      <th width="100">Secciónes</th>
                    </tr>
                  </thead>
                  <tbody>
                    <% profe.forEach(function(pro) { %>
                    <tr>
                      <td><%= pro.nombre %></td>
                      <td><%= pro.grado %></td>
                      <td><%= pro.secciones %></td>
                    </tr>
                    <% }); %>
                  </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
    <script>
        $(document).foundation();
    </script>
</body>

</html>