<div class="row column">
    <br>
    <ul class="accordion" data-accordion>
      <li class="accordion-item is-active" data-accordion-item>
        <a href="http://localhost:8888/profesor" class="accordion-title"><h5>Perfil</h5></a>
        
      </li>
      <li class="accordion-item is-active" data-accordion-item>
        <a href="http://localhost:8888/profesor/cursos" class="accordion-title"><h5>Evaluar</h5></a>
        
      </li>
      <div><h3><a class="button warning" style="width:100%;" href="/salir">Cerrar Sesion</a></h3></div>

      
    </ul>

</div>