<div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left">
                <div class="row column">
                    <br>
                    <ul class="accordion" data-accordion>
                      <li class="accordion-item is-active" data-accordion-item>
                        <a href="#" class="accordion-title"><h5>Docentes</h5></a>
                        <div class="accordion-content" data-tab-content >
                          <ul class="vertical menu">
                              <li><a href="http://localhost:8888/admin/docente">Ver Docentes</a></li>
                              <li><a href="http://localhost:8888/admin/add_docente">A単adir Docente</a></li>
                           </ul>
                        </div>
                      </li>
                      <li class="accordion-item is-active" data-accordion-item>
                        <a href="#" class="accordion-title"><h5>Cursos</h5></a>
                        <div class="accordion-content" data-tab-content>
                           <ul class="vertical menu">
                              <li><a href="http://localhost:8888/admin/curso">Ver Cursos</a></li>
                              <li><a href="http://localhost:8888/admin/add_curso">A単adir Curso</a></li>
                           </ul>
                        </div>
                      </li>
                      <li class="accordion-item is-active" data-accordion-item>
                        <a href="#" class="accordion-title"><h5>Alumnos</h5></a>
                        <div class="accordion-content" data-tab-content>
                           <ul class="vertical menu">
                              <li><a href="http://localhost:8888/admin/alumno">Ver Alumnos</a></li>
                              <li><a href="http://localhost:8888/admin/add_alumno">A単adir Alumno</a></li>
                           </ul>
                        </div>
                      </li>
                      <li class="accordion-item is-active" data-accordion-item>
                        <a href="#" class="accordion-title"><h5>Usuarios</h5></a>
                        <div class="accordion-content" data-tab-content>
                           <ul class="vertical menu">
                              <li><a href="http://localhost:8888/admin/usuario">Ver Usuarios</a></li>
                              <li><a href="http://localhost:8888/admin/add_usuario">A単adir Usuario</a></li>
                           </ul>
                        </div>
                      </li>
                      
                    </ul>
                    <div><h3><a class="button warning" style="width:100%;" href="/salir">Cerrar Sesion</a></h3></div>

                </div>
            </div>